@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700|Arvo:400,700);

.body {
  color: white;
  background-color: #000;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

$tall: 41px;
$thick: 1px;
$fg: white;
$bg: #56688b;
$dk: #526488;
$gap: 5px;
$tabcount: 4;
$cutoff: 220px * $tabcount;
$cutoff-1: $cutoff - 1;
$all-off: 137px * $tabcount;
$all-off-1: $all-off - 1;

.hex-tabs {
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  background-color: $bg;
  border-bottom: 1px solid $fg;
  height: $tall + $gap;
  display: flex;
  width: 100%;

  .spacer {
    width: 25%;
  }

  .hex-tab {
    color: $fg;
    margin: $gap 0 0 0;
    z-index: 10;
    cursor: pointer;
    min-width: 200px;
    @media (max-width: $cutoff-1) {
      min-width: 120px;
    }
    @media (max-width: $all-off-1) {
      min-width: 80px;
    }

    position: relative;
    bottom: -1px;
    height: $tall + 1px;

    &:hover > .text {
      text-decoration: underline;
    }

    .up {
      float: left;
      height: $tall;
      width: 24px;
      @media (max-width: $all-off-1) {
        display: none;
      }
    }
    .up2 {
      @media (max-width: $cutoff-1) {
        width: 0;
      }
      @media (min-width: $all-off) {
        display: none;
      }
      float: left;
      height: $tall;
      width: 1px;
      border-left: solid 1px $fg;
    }

    .text {
      float: left;
      border-top: solid 1px $fg;
      vertical-align: middle;
      line-height: $tall;
      height: $tall;
      color: $fg;
      font-weight: 100;
      padding: 0 5px;
      width: 140px;
      @media (max-width: $cutoff-1) {
        width: 135px;
        width: 200px;
        line-height: ($tall / 2) - 3px;
        padding: 3px 1px 0 1px;
        width: 65px;
      }
      text-align: center;
      display: block;
    }

    .down {
      @media (max-width: $all-off-1) {
        display: none;
      }
      float: left;
      height: $tall;
    }

    .down2 {
      @media (min-width: $all-off) {
        display: none;
      }
      float: left;
      height: $tall;
      border-right: solid 1px $fg;
    }
  }

  .share-icons {
    float: right;
    font-size: 12px;
    padding-left: 2px;
    i {
      padding: 0 2px;
    }
  }
  .button-badge {
    float: right;
    background-color: $fg;
    border-radius: 5px;
    color: $bg;

    margin: 10px 0 0 0;
    padding: 2px 4px 4px 3px;
    font-size: 16px;
    font-weight: 400;
    height: 17px;
    line-height: 17px;
    @media (max-width: $cutoff-1) {
      position: relative;
      left: 15px;
      top: -35px;
    }
  }
}

////////////////////////////////
.hex-tabs {
  .active .up,
  .active .down,
  .active .text,
  .active .text2 {
    background: $bg;
  }
}

.page {
  background-color: $bg;
  padding: 15px;
  border: solid 1px $fg;
  border-top: none;
  font-weight: 100;
  display: none;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
}
.page.active {
  display: block;
}

.filter-by {
  height: 50px;
  display: block;
  float: left;
  color: #ddd;
  padding-top: 5px;
}
.filters {
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
}
.filters .filter {
  position: relative;
  border: 1px solid #ddd;
  margin: 0 4px 6px;
  color: #ddd;
  background: #56688b;
  padding: 0px 10px 0 7px;
  display: inline-block;
}
.filters .filter:hover {
  border: 1px solid white;
  cursor: pointer;
}
.filters .filter:hover span {
  text-decoration: underline;
}
.filters .filter span {
  display: inline-block;
}
.filters .filter .tiny {
  text-align: right;
  width: 69px;
  font-size: 11px;
  height: 12px;
  text-transform: uppercase;
}
.filters .filter .way-tiny {
  font-size: 10px;
  position: relative;
  left: -4px;
}
.filters .filter .count {
  font-size: +20px;
  position: relative;
  text-align: center;
  top: -4px;
  padding-left: 5px;
  min-width: 23px;
  text-decoration: none !important;
}
.filters .filter .msg {
  font-weight: 300;
  text-transform: uppercase;
  color: white !important;
  font-family: "Source Sans Pro", sans-serif;
}
.filters .smaller {
  height: 30px;
  .msg {
    font-size: 12px;
  }
  .count {
    position: relative;
    top: 1px;
  }
}
.active-filter {
  border-bottom: solid 4px white !important;
}
.filter:before {
  position: absolute;
  left: -1px;
  top: -1px;
  content: "";
  border-top: 15px solid silver;
  border-right: 15px solid transparent;
}
.filter:after {
  position: absolute;
  left: -2px;
  top: -2px;
  content: "";
  border-top: 15px solid #56688b;
  border-right: 15px solid transparent;
}

.add-button-box {
  position: relative;
  font-family: "Source Sans Pro", sans-serif;
}
.add-button {
  border: solid 10px #56688b;
  position: absolute;
  top: -15px;
  left: 1px;
  display: inline-block;
  overflow: hidden;
  .inner {
    font-size: 31px;
    line-height: 39px;
    border: solid 1px black;
    width: 38px;
    text-align: center;
    color: black;
    background: orange;
    text-decoration: none !important;
  }
  .add-card {
    position: absolute;
    font-size: 10px;
    top: 1px;
    left: 10px;
    color: black;
    font-weight: 100;
    letter-spacing: 1px;
  }
  .add-card-bot {
    top: 27px;
    left: 7px;
  }
  &:hover .inner,
  &:hover .add-card {
    color: black;
    cursor: pointer;
    background: white;
  }
}
.add-menu {
  display: inline-block;
  background: #56688b;
  padding: 10px;
  position: absolute;
  left: 47px;
  border: solid white 1px;
  z-index: 200;
  .add-item-wrap {
    position: relative;
    border: solid 1px white;
    margin: 5px 3px 5px 0;
    padding: 6px 16px;
    font-family: "Source Sans Pro", sans-serif;
    &:hover,
    &:hover a {
      text-decoration: underline;
      color: black;
      background: white;
      cursor: pointer;
    }

    .add-menu-item {
      color: white;
      font-weight: 100;
      &:before {
        position: absolute;
        left: -1px;
        top: -1px;
        content: "";
        border-top: 15px solid silver;
        border-right: 15px solid transparent;
      }
      &:after {
        position: absolute;
        left: -2px;
        top: -2px;
        content: "";
        border-top: 15px solid #56688b;
        border-right: 15px solid transparent;
      }
    }
  }
}

.open .tabs-content {
  margin: 0;
}

.share {
  display: inline-block;
  margin-bottom: 13px;
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
  @media (max-width: 810px) {
  }
  label {
    text-transform: uppercase;
    font-weight: 100;
    display: block;
  }
  .inp-btn {
  }
  input {
    display: inline-block;
    height: 26px;
    width: 210px;
    padding: 0;
    @media (max-width: 263px) {
      width: 100%;
    }
  }
}
.share-page {
  display: block;
}
.pale-btn {
  background: #bbcde4;
  padding: 3px 12px;
}
.lbl-inp-btn__btn {
  position: relative;
  top: 2px;
  line-height: 24px;
  display: inline-block;
  width: 70px;
  text-align: center;
}

.buttony {
  &:hover {
    color: black;
    background: white;
    text-decoration: underline;
    cursor: pointer;
  }
}

.big-icons {
  font-size: 25px;
  i {
    border: solid 1px #ccc;
    padding: 4px 14px;
    margin-right: 10px;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
      background: #fff;
      color: black;
    }
  }
}

.right {
  float: right;
}

.cornered {
  position: relative;
  &:before {
    position: absolute;
    left: 0;
    top: -1px;
    content: "";
    border-top: 15px solid silver;
    border-right: 15px solid transparent;
  }
  &:after {
    position: absolute;
    left: -1px;
    top: -2px;
    content: "";
    border-top: 15px solid #56688b;
    border-right: 15px solid transparent;
  }
}
